@font-face {
    font-family: "Zector";
    src: url(fonts/Zector.otf);
}

#logo
{
    width: 50px;
    height: 50px;

    padding: 20px;
    
    image-rendering: optimizeQuality;
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Chrome */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

#header-bar
{
    background-image: linear-gradient(to bottom, #9900ff, #1f0033);

    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;

    display: flex;
    
    /* border: 2px solid red; */
}

#title
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-variant: small-caps;
}

#intro
{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 450px;

    padding-left: 15px;
    padding-bottom: 5px;

    background-color: rgba(255, 255, 255, 0.1);

    border-left: 10px solid rgba(255, 255, 255, 0.4);
    border-top: 5px solid rgba(255, 255, 255, 0.4);
}

#login-proposal
{
    font-size: 100%;
}

h1
{
    color: white;
    font-family: "Zector", Arial, Helvetica, sans-serif;
}

body
{
    background-image: url(img/synth-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}

p
{
    color: white;
    font-family: Consolas;
    font-size: 20px;
}

a
{
    color: #00b300;
    font-weight: bold;
}